@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;


}
.res-margin-top a{
	font-size: 15px;
}
.bi-list {
	font-size: 40px;
}

.navbar_line {
	box-shadow: 0 3px 6px rgb(0 0 0 / 0%), 0 3px 41px rgb(0 0 0 / 13%);
}
#navbar{
	height: 80px;
}
/* home */
.part-1 {
	margin-top: 65px !important;
}

.part-1 h3 {
	font-size: 40px;
}

#home .container {
	padding-top: 90px;
}

/* about */
.img-about {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: -10px;
}

#about h1 {
	padding-top: 150px;
	font-size: 30px;
}

.about-text {
	/* margin-top: 110px; */
	font-size: 17px;
	margin-right: 5px;
}

/* services */
.web-dev {
	border-radius: 10px;
	/* border: 1px solid #0023CA; */
	box-shadow: 0 3px 6px rgb(0 0 0 / 0%), 0 3px 41px rgb(0 0 0 / 13%);
	cursor: pointer;

}

.web-img {
	width: 95px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.mobil-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	margin-top: 15px;

}

.web-text {
	font-size: 0.9rem;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#service h1 {
	padding-top: 150px;
	font-size: 30px;
}

/* team */
#team h1 {
	padding-top: 150px;
	font-size: 30px;
}

/* partnyor */
/* Logo Slider */

.logo-slider {
	background: white;
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider::before,
.logo-slider::after {
	background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 175px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 60s linear infinite;
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 150px;
	width: 250px;
	padding: 20px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

#partners h1 {
	font-size: 30px;
	padding-top: 150px;
}

/* Contact */
#contact h1 {
	font-size: 30px;
	padding-top: 100px;
}


.social-container {
	margin: 0 auto;
	padding: 40px 0;
	width: 200px;
	height: 100%;
}

/* Add this ID to a section or something you want to change the background-color */
#social-section {
	padding: 60px 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

/* Button Styles */
.social-container a {
	display: block;
	width: 200px;
	line-height: 40px;
	border: 1px solid rgba(0, 0, 0, .1);
	color: rgba(0, 0, 0, .6);
	margin: 20px 0;
	text-decoration: none;
	text-align: center;
}

.social-container a i {
	margin-right: 17px;
}

.social-container a.email i {
	margin-right: 30px;
}

.social-container a:hover {
	border: 1px solid #0023CA;
	color: #0023CA;
}

/* footer */

.footer {
	height: 70px;
	background-color: #1d1d1f;
	width: 100%;
}

.footer-line {
	width: 100%;
	background-color: #fff;
	height: 1px;
}

.footer-line p {
	font-size: 13px;
	padding-top: 30px;
}

.footer-line a {
	text-decoration: none !important;

}

/*  */
* {
    scrollbar-width: auto;
    scrollbar-color: #1fea1c #ffffff;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #16ed5a;
    border-radius: 7px;
    border: 2px solid #00ca25;
  }